{
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		# worker /path/to/your/worker.php
		{$FRANKENPHP_CONFIG}
	}
}

{$CADDY_EXTRA_CONFIG}

{$SERVER_NAME:localhost} {
	# log {
	# 	# Redact the authorization query parameter that can be set by Mercure
	# 	format filter {
	# 		request>uri query {
	# 			replace authorization REDACTED
	# 		}
	# 	}
	# }

	root * .
	encode zstd br gzip

	# Uncomment the following lines to enable Mercure and Vulcain modules

	# mercure {
	#	# Transport to use (default to Bolt)
	#	transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
	#	# Publisher JWT key
	#	publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
	#	# Subscriber JWT key
	#	subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
	#	# Allow anonymous subscribers (double-check that it's what you want)
	#	anonymous
	#	# Enable the subscription API (double-check that it's what you want)
	#	subscriptions
	#	# Extra directives
	#	{$MERCURE_EXTRA_DIRECTIVES}
	# }

	# vulcain

	# Begin - Grav Security
	@matches-restricted-folders {
		# deny all direct access for these folders
		path_regexp /(\.git|cache|bin|logs|backups?|tests|webserver-configs)/.*
	}

	@matches-core-scripts {
		# deny running scripts inside core system folders
		path_regexp /(system|vendor)/.*\.(txt|xml|md|html|htm|shtml|shtm|yaml|yml|php|php2|php3|php4|php5|phar|phtml|pl|py|cgi|twig|sh|bat)$
	}

	@matches-running-scripts {
		# deny running scripts inside user folder
		path_regexp /user/.*\.(txt|md|yaml|yml|php|php2|php3|php4|php5|phar|phtml|pl|py|cgi|twig|sh|bat)$
	}

	@matches-restricted-root-files {
		# deny access to all root files except few
		# path_regexp /(LICENSE\.txt|compose.*|nginx\.conf|web\.config|htaccess\.txt|\.htaccess)

		# If the request is pointing to a file
		file {path}
		# and the file is in the root folder 
		path_regexp ^/[^/]+$
		# but does not match the listed accessible files [index.php, robot.txt]
		not path_regexp /(index.php|robots.txt)
	}

	rewrite @matches-restricted-folders 403
	rewrite @matches-core-scripts 403
	rewrite @matches-running-scripts 403
	rewrite @matches-restricted-root-files 403

	respond /403 403
	## End - Grav Security

	# global rewrite should come last.
	try_files {path} {path}/ /index.php?_url={uri}&{query}

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	php_server
}
